## Deliverable 2. Create a Customer Travel Destinations Map.

In [6]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [7]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Obertyn,UA,48.7003,25.1701,54.25,61,13,7.00,few clouds
1,1,Albany,US,42.6001,-73.9662,92.23,43,98,5.64,overcast clouds
2,2,Kapaa,US,22.0752,-159.3190,82.38,79,100,13.80,light rain
3,3,Kindu,CD,-2.9500,25.9500,78.69,52,100,2.39,overcast clouds
4,4,Algiers,DZ,36.7525,3.0420,76.82,78,20,9.22,few clouds

In [8]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What's the lowest desired temperature for your trip? "))
max_temp = float(input("What's the highest desired temperature for your trip? "))

In [9]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] >= min_temp) &
                                       (city_data_df["Max Temp"] <= max_temp)]

preferred_cities_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
2,2,Kapaa,US,22.0752,-159.3190,82.38,79,100,13.80,light rain
7,7,Kavieng,PG,-2.5744,150.7967,81.91,80,45,13.11,light rain
16,16,Tarpon Springs,US,28.1461,-82.7568,88.00,79,0,7.00,clear sky
20,20,Butaritari,KI,3.0707,172.7902,82.02,73,96,10.71,overcast clouds
27,27,Victoria,HK,22.2855,114.1577,86.38,82,100,11.01,overcast clouds
...,...,...,...,...,...,...,...,...,...,...
699,699,Sarangani,PH,5.4033,125.4636,81.30,78,100,12.21,overcast clouds
708,708,Cayenne,GF,4.9333,-52.3333,87.84,1,40,11.50,scattered clouds
709,709,Wahiawa,US,21.5028,-158.0236,80.92,69,100,4.61,overcast clouds
714,714,Labelle,US,26.7617,-81.4384,86.02,67,99,6.11,light rain
715,715,Uthal,PK,25.8072,66.6219,84.87,78,100,9.46,moderate rain

In [10]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.isnull().sum()

City_ID                0
City                   0
Country                0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [11]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
2,2,Kapaa,US,22.0752,-159.3190,82.38,79,100,13.80,light rain
7,7,Kavieng,PG,-2.5744,150.7967,81.91,80,45,13.11,light rain
16,16,Tarpon Springs,US,28.1461,-82.7568,88.00,79,0,7.00,clear sky
20,20,Butaritari,KI,3.0707,172.7902,82.02,73,96,10.71,overcast clouds
27,27,Victoria,HK,22.2855,114.1577,86.38,82,100,11.01,overcast clouds
...,...,...,...,...,...,...,...,...,...,...
699,699,Sarangani,PH,5.4033,125.4636,81.30,78,100,12.21,overcast clouds
708,708,Cayenne,GF,4.9333,-52.3333,87.84,1,40,11.50,scattered clouds
709,709,Wahiawa,US,21.5028,-158.0236,80.92,69,100,4.61,overcast clouds
714,714,Labelle,US,26.7617,-81.4384,86.02,67,99,6.11,light rain
715,715,Uthal,PK,25.8072,66.6219,84.87,78,100,9.46,moderate rain

In [12]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Kapaa,US,82.38,light rain,22.0752,-159.3190,
7,Kavieng,PG,81.91,light rain,-2.5744,150.7967,
16,Tarpon Springs,US,88.00,clear sky,28.1461,-82.7568,
20,Butaritari,KI,82.02,overcast clouds,3.0707,172.7902,
27,Victoria,HK,86.38,overcast clouds,22.2855,114.1577,
31,Cookeville,US,89.31,scattered clouds,36.1628,-85.5016,
36,Santa Catarina De Tepehuanes,MX,82.35,scattered clouds,25.3500,-105.7333,
62,Guerrero Negro,MX,81.75,clear sky,27.9769,-114.0611,
65,Westport,US,86.31,clear sky,41.1415,-73.3579,
70,Kahului,US,82.98,few clouds,20.8947,-156.4700,

In [13]:
# 6a. Set parameters to search for hotels with 5000 meters.


params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
   
    

    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    
    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()

    

    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
        
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [14]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df[hotel_df["Hotel Name"]!= '']
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Kapaa,US,82.38,light rain,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
7,Kavieng,PG,81.91,light rain,-2.5744,150.7967,Nusa Island Retreat
16,Tarpon Springs,US,88.00,clear sky,28.1461,-82.7568,"Innisbrook, A Salamander Golf and Spa Resort"
20,Butaritari,KI,82.02,overcast clouds,3.0707,172.7902,Isles Sunset Lodge
27,Victoria,HK,86.38,overcast clouds,22.2855,114.1577,Mini Central
31,Cookeville,US,89.31,scattered clouds,36.1628,-85.5016,La Quinta Inn & Suites by Wyndham Cookeville
36,Santa Catarina De Tepehuanes,MX,82.35,scattered clouds,25.3500,-105.7333,hotel plaza
62,Guerrero Negro,MX,81.75,clear sky,27.9769,-114.0611,"Casa Laguna, Bed & Breakfast"
65,Westport,US,86.31,clear sky,41.1415,-73.3579,The Westport Inn
70,Kahului,US,82.98,few clouds,20.8947,-156.4700,Maui Seaside Hotel

In [15]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [16]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""




# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [18]:
# 11a. Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure()
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))